
<div class="container">

    <h1>Inventory Management</h1>
    <div>
        <!-- Categories container -->
        <div>
            <h2>Categories</h2>
            <table class="table table-condensed">
                <tr>
                    <th>Category Name</th>
                    <th>Category Description</th>
                    <th>Picture</th>
                    <th>Edit</th>
                </tr>
                <tr ng-repeat = "category in inventoryCtrl.categories">

                    <td>
                        <span ng-hide = "showCat">{{category.categoryName}}</span>
                        <input type = "text" ng-show = "showCat" ng-model = "category.categoryName" size = "30" />
                    </td>
                    <td>
                        <span ng-hide = "showCat">{{category.categoryDescription}}</span>
                        <input type = "text" ng-show = "showCat" ng-model = "category.categoryDescription" size = "50" />
                    </td>
                    <td>
                        <span ng-hide = "showCat"> <img ng-src="{{ inventoryCtrl.findImage(category.picture).url() }}" width = "50" /></span>
                        <input ng-show = "showCat" name = "test" id = "fileupload" type = "file"  ngf-drop ngf-select
                               ng-model = "inventoryCtrl.new_picture"

                               ngf-multiple="false" ngf-allow-dir="false" ngf-accept="'image/*'" />
                    </td>
                    <td>
                        <button ng-hide = "showCat" ng-click = "inventoryCtrl.editCat(this)"><i class="fa fa-pencil-square-o"></i></button>
                        <button ng-show = "showCat" ng-click = "inventoryCtrl.updateCat(this)"><i class="fa fa-check"></i></button>
                        <button ng-show = "showCat" ng-click = "inventoryCtrl.undoCat(this)"><i class="fa fa-times"></i></button>
                    </td>
                </tr>
                <!-- new category -->
                <tr>
                    <td><input type = "text" ng-model = "inventoryCtrl.newCategory.categoryName" size = "30" /></td>
                    <td><input type = "text" ng-model = "inventoryCtrl.newCategory.categoryDescription" size = "50" /></td>
                    <td><button ng-click = "inventoryCtrl.addCat()">add</button></td>
                </tr>
            </table>
        </div>
        <br />

        <!-- Products container -->
        <div>
            <h2>Products</h2>

            <button class="btn-primary" ng-click = "inventoryCtrl.addProduct()">Add Product</button>

            <!-- search bar -->
            <div>
                <label>Search: </label>
                <input type = "text" ng-model = "filterProduct"/>
                <label>Order by: </label>
                <select ng-model = "orderVar">
                    <option value = "info.itemNum">Product Name</option>
                    <option value = "categoryName">Category Name</option>
                    <option value = "info.quantityInStock">Quantity in Stock</option>
                </select>
            </div>

            <table class="table table-condensed">
                <tr>
                    <th>Remove</th>
                    <th>Item Number</th>
                    <th>Category Name</th>
                    <th>Quantity in Stock</th>
                    <th>Quantity on Hold</th>
                    <th>Change Quantity</th>
                    <th>Edit</th>
                </tr>

                <tr dir-paginate="product in inventoryCtrl.products | filter:filterProduct | orderBy: orderVar | itemsPerPage: 10 ">
               <!-- <tr ng-repeat = "product in inventoryCtrl.products | filter:filterProduct | orderBy: orderVar"> -->
                    <td>
                        <button ng-click = "inventoryCtrl.removeProduct(this)" ng-show = "product.info.status == true"><i class="fa fa-times"></i></button>
                        <button ng-click = "inventoryCtrl.reactivateProduct(this)" ng-show = "product.info.status == false">reactivate</button>
                    </td>
                    <td>
                        <a href = "/admin/inventory/edit/{{product.info._id}}"><span ng-hide = "showProd">{{product.info.itemNum}}</span></a>
                        <input ng-show = "showProd" type = "text" ng-model = "product.info.itemNum" />
                    </td>
                    <td>
                        <span ng-hide = "showProd">{{product.categoryName}}</span>
                        <select ng-show = "showProd" ng-model="product.info.categoryId">
                            <option ng-repeat="category in inventoryCtrl.categories" value="{{category._id}}" ng-checked = "category._id == product.info.categoryId">{{category.categoryName}}</option>
                        </select>
                    </td>
                    <td>
                        <span>{{product.info.quantityInStock}}</span>
                    </td>
                    <td>
                        <span>{{product.info.quantityOnHold}}</span>
                    </td>
                    <td>
                        <input ng-show = "showProd" type = "text" ng-model = "product.quantityChange" />
                    </td>
                    <td>
                        <button ng-hide = "showProd" ng-click = "inventoryCtrl.editProduct(this)"><i class="fa fa-pencil-square-o"></i></button>
                        <button ng-show = "showProd" ng-click = "inventoryCtrl.updateProduct(this)"><i class="fa fa-check"></i></button>
                        <button ng-show = "showProd" ng-click = "inventoryCtrl.undoProduct(this)"><i class="fa fa-times"></i></button>
                    </td>
                </tr>
                <dir-pagination-controls boundary-links = true></dir-pagination-controls>

            </table>
        </div>
    </div>
</div>