.dropdown:hover .dropdown-menu {
    display: block;
}
.productlabel{
    margin: 0px 15px 0px 0px;
}
.shoppingCartTable {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.shoppingCartTable > thead > tr > th,
.shoppingCartTable > tbody > tr > th,
.shoppingCartTable > tfoot > tr > th,
.shoppingCartTable > thead > tr > td,
.shoppingCartTable > tbody > tr > td,
.shoppingCartTable > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    /*border-top: 1px solid #ddd;*/
}

.topnav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.topnav > li {
    position: relative;
    display: block;
}
.topnav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.topnav > li > a:hover
{
    text-decoration: none;
    background-color: darkgray;

}
.topnav > li > a:focus{
    text-decoration: none;
}
.topnav > li.disabled > a {
    color: #777;
}
.topnav > li.disabled > a:hover,
.topnav > li.disabled > a:focus {
    color: #777;
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
}
.topnav .open > a,
.topnav .open > a:hover,
.topnav .open > a:focus {
    background-color: #eee;
    border-color: #337ab7;
}
.topnav .nav-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.topnav > li > a > img {
    max-width: none;
}