<div class="container" style="min-height: 700px;">
    <div class="row">
        <div class="col-md-2">
            <nav ng-show="productsList.currentCat.categoryName == 'LED bulbs'"   style="padding-left: 20px;margin-top: 100px;">
                <h3 >
                    <label class="label label-default">
                    Led Types
                    </label>
                </h3>
                <ul class="nav">
                    <li ng-repeat="ltype in productsList.getValuesFor('ledtype')">
                        <div style="padding-right: 20px;color: dimgray" class="checkbox">
                            <label class="checkbox-inline">
                            <input type="checkbox" ng-click="productsList.includetype(ltype)" />
                                {{ltype}}
                            </label>
                        </div>
                    </li>


                </ul>
            </nav>
        </div>
        <div class="col-md-10">
            <div class="page-header">
                <h1 style="color:dimgrey">{{productsList.currentCat.categoryName}}
                <div class="navbar-form navbar-right h4">

                    <label>Sort: </label>
                    <select class="form-control" ng-init="orderVar = 'info.itemNum'" ng-model="orderVar">
                        <option value="info.itemNum" ng-selected="true">Product Name</option>

                        <!--<option value="'info.price * ((100-product.info.discount_pct)/100'">Price</option>-->
                        <option value="info.ledtype">Led Type</option>
                    </select>
                </div></h1>


            </div>

            <!--<dir-pagination-controls boundary-links = true></dir-pagination-controls>-->



            <div style="min-height: 300px;" ng-repeat="product in  productsList.products | filter:productsList.ledtypeFilter | orderBy: orderVar"
                 class="col-sm-6 col-md-4">

                <a style="display: block; padding: 4px; margin-top: 20px;margin-bottom: 20px;"
                   href="/categories/{{product.info.categoryId}}/{{product.info._id}}">
                    <p style="text-align: center">
                        <img style="vertical-align: middle;min-height: 170px;"
                             ng-src="{{product.image == '' ? 'no-images-found.gif' : product.image.url()}}"
                        /><br/>
                    </p>
                    <div align="center" class="caption">
                        <span style="color: dimgray" class="h3">{{product.info.itemNum}}</span><br/>
                    </div>
                </a>
                <!--<div align="center">-->
                <!--<span style="color:green; margin: 5px;">{{product.info.price * ((100-product.info.discount_pct)/100) | currency}}</span>-->
                <!--<span ng-show="product.info.discount_pct != 0"-->
                <!--style="text-decoration: line-through;color:red; margin: 5px;">{{product.info.price | currency}}</span>-->
                <!--</div>-->
            </div>


        </div>
    </div>

</div>
